body {
  font-size: 14px;
  margin: 0;
  padding: 2rem;
}

fieldset {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}

fieldset legend {
  background: #fff;
  border: 1px solid;
  color: #333;
  font-weight: normal;
  padding: 0 4px;
}

fieldset > div {
  background-color: #ccc;
  margin: 1em;
}