*, *:before, *:after {
  box-sizing: border-box;
}

.react-layout {
  background-color: #ccc;
  padding: 0.5em;
  margin: 1em;
}

.react-layout > div {
  background-color: white;
  padding: 1em;
  margin: 0.5em;
}
